URxvt.saveLines:            65535
URxvt.visualBell:           true
URxvt.cursorBlink:          true
URxvt.scrollBar:            false
URxvt.internalBorder:       2
URxvt.externalBorder:       0
URxvt.perl-ext:             default,url-select,clipboard,keyboard-select
URxvt.url-select.launcher:  /usr/bin/chromium
URxvt.url-select.underline: True
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-c:           perl:clipboard:copy
URxvt.keysym.M-v:           perl:clipboard:paste

*background:                #1f1f1f
*foreground:                #979386
*fading:                    40
*fadeColor:                 #1f1f1f
*cursorColor:               #586e75
*pointerColorBackground:    #93a1a1
*pointerColorForeground:    #586e75
*color0:                    #292929
*color1:                    #dc322f
*color2:                    #859900
*color3:                    #b58900
*color4:                    #268bd2
*color5:                    #d33682
*color6:                    #2aa198
*color7:                    #eee8d5
*color8:                    #1f1f1f
*color9:                    #cb4b16
*color10:                   #586e75
*color11:                   #657b83
*color12:                   #839496
*color13:                   #6c71c4
*color14:                   #93a1a1
*color15:                   #fdf6e3
*font:                      xft:Source Code Pro:pixelsize=22,\
                            xft:SauceCodePro Nerd Font:pixelsize=22,\
                            xft:DejaVu Sans Mono:pixelsize=22

XLock.mode:                 blank
XLock.font:                 -xos4-terminus-medium-r-normal--32-320-72-72-c-160-iso10646-1
XLock.planfont:             -xos4-terminus-medium-r-normal--32-320-72-72-c-160-iso10646-1
XLock.username:             Username:
XLock.password:             Password:
XLock.echokeys:             true
XLock.echokey:              *
XLock.description:          false
XLock.info:
XLock.timeelapsed:          true
XLock.validate:             Validating Login...
XLock.invalid:              Login Failed
XLock.foreground:           #808080
XLock.icongeometry:         14x64
XLock.usefirst:             false
XLock.dpmsstandby:          15
XLock.dpmssuspend:          30
XLock.dpmsoff:              60

